/*base*/
@import "tools";
@import "swiper";
@import "animate";
//@import "mobiscroll";

body {
  color: #333;
}

.container {
  .rel;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .bf5;
  .weui-tabbar {
    .ma-w(640);
  }
}

[v-cloak] {
  display: none;
}

.left-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    left: 7px;
  }
}

.right-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 8px;
    left: 7px;
  }
}

.top-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 7px;
  }
}

.bottom-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 8px;
    left: 7px;
  }
}

.ico-store {
  .fl;
  display: inline-block;
  margin-top: 2/@rem;
  font-size: inherit;
  .size(30, 30);
  background: url(../../static/img/ico_store.png);
  .ele-base;
  .borR(50%);
}

.ico-seller {
  .fl;
  display: inline-block;
  margin-top: 2/@rem;
  font-size: inherit;
  .size(30, 30);
  background: url(../../static/img/ico_seller.png);
  .ele-base;
  .borR(50%);
}

.ico-cart {
  display: inline-block;
  font-style: normal;
  font-size: inherit;
  .size(30, 30);
  background: url(../../static/img/ico_cart.png) no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.ico-avatar {
  .fl;
  display: inline-block;
  margin-top: 2/@rem;
  font-size: inherit;
  .size(30, 30);
  background: url(../../static/img/ico_avatar.png);
  .ele-base;
  .borR(50%);
}

.location-chooser {
  .rel;
  .borBox;
  padding: 0 40/@rem 0 20/@rem;
  height: 80/@rem;
  line-height: 80/@rem;
  .bf;
  .bor-b;
  p {
    .fz(24);
    .c6;
    .ellipsis;
    span {
      .cdiy(#f34c18);
    }
  }
  .right-arrow {
    .abs-center-vertical;
  }
}

.depositeModal {
  input {
    margin: 10/@rem 0;
    padding: 14/@rem 20/@rem;
    .fz(26);
    .bf5;
    .bor;
    .borR(5px);
  }
}

/*过渡类*/
.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: opacity, transform;
  transition: transform .2s;
  height: 100%;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000px;
}

.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.vux-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

/*vux通用样式修改*/
.weui-dialog__btn_primary {
  color: #f34c18 !important;
}

.xs-plugin-pullup-container {
  line-height: 40px;
}

.seller-detail .inner-scroller {
  .box {
    padding-bottom: 120px !important;
  }
  .xs-plugin-pullup-container {
    .none!important;
  }
}

._v-content .loading-layer {
  height: 40px !important;
  line-height: 40px !important;
  font-size: 14px !important;
  padding-bottom: 90px !important;
}

.vux-popup-dialog {
  .bf!important;
  .number-con {
    padding: 30/@rem 20/@rem 40/@rem;
    .weui-cells {
      margin-top: 0 !important;
      &:before, &:after {
        .none;
      }
      .weui-cell {
        padding: 0;
        p {
          .fz(24);
        }
      }
      .vux-number-input {
        .borBox;
        padding: 0;
        width: 60/@rem !important;
        height: 60/@rem !important;
        .fz(24);
      }
      .vux-number-selector, .vux-number-selector-plus {
        .rel;
        .borBox;
        .size(60, 60);
        font-size: 0;
        line-height: 34/@rem;
        .bf;
        .bor;
        svg {
          .abs-center-vh;
          .size(26, 26);
          /*fill: #f34c18;*/
        }
      }
    }
  }
  .btn-addcart {
    width: 100%;
    padding: 30/@rem 0 !important;
    .fz(24);
    .cf;
    .bdiy(#ff9627);
    &.buy {
      .bdiy(@c2);
    }
  }
}

.weui-toast {
  width: auto !important;
  min-width: 200/@rem;
  padding: 0 20/@rem;
}

.weui-loadmore {
  width: 40%!important;
  margin-top: 1.5em!important;
}


/*左右滑动*/
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/*渐入渐出*/
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

.fade-enter,
.fade-leave {
  opacity: 0
}

/*地图*/
#page {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  overflow: hidden;
}

#container {
  -webkit-flex: 1;
}

#panel {
  height: 43%;
  -webkit-flex: 0 0 auto;
  overflow: visible;
  border-top: 1px solid #ccc;
  position: relative;
  z-index: 999;
  /*-webkit-transition: all 0.2s;*/
}

#showHideBtn {
  display: block;
  position: absolute;
  width: 63px;
  height: 32px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -25px;
}

#showHideBtn:after,
#showHideBtn:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

#showHideBtn:before {
  width: 60px;
  height: 30px;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  border-radius: 30px 30px 0 0;
  border: 1px solid #ccc;
  border-bottom: 0;
}

#showHideBtn:after {
  content: "";
  top: 7px;
  border: 10px solid rgba(255, 0, 0, 0);
  z-index: 99999;
  border-top-color: #ccc;
  /* -webkit-transition: all 0.2s;*/
}

#poiList {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
  background: #fff;
}

#poiList .amap_lib_placeSearch {
  border: none;
}

#panel.hidden {
  height: 0;
  top: 1px;
}

#panel.hidden #showHideBtn {
  /*  top: -30px;*/
}

#panel.hidden #showHideBtn:after {
  /*  -webkit-transform: rotate(180deg);
 -webkit-transform-origin: 50% 4px;*/
  top: -5px;
  border-bottom-color: #ccc;
  border-top-color: transparent;
}

#panel .amap_lib_placeSearch .pageLink {
  font-size: 120%;
  margin: 0 3px;
}

#searchBox {
  position: fixed;
  width: 94%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
  top: 14px;
  height: 80/@rem;
}

#tipinput {
  width: 100%;
  height: 80/@rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 24/@rem;
  line-height: 80/@rem;
  padding: 0 7px;
  box-sizing: border-box;
}

#clearSearchBtn {
  position: absolute;
  right: 10/@rem;
  top: 20/@rem;
  margin: auto;
  .size(40, 40);
  line-height: 40/@rem;
  text-align: center;
  vertical-align: middle;
  font-size: 24/@rem;
  color: #999;
}

#clearSearchBtn .del {
  background: #eee;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#page.searching #clearSearchBtn {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #eee;
  border-radius: 50%;
  border-top: 16px solid #0b83ea;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searching #loader {
  display: block;
}

.searching #page {
  filter: grayscale(1);
  opacity: 0.5;
}

#panel.empty #showHideBtn {
  opacity: 0.5;
}

#emptyTip {
  display: none;
}

#panel.empty #emptyTip {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #666;
}

.poi-more {
  display: none !important;
}

/*购物车效果*/
@-webkit-keyframes bulbing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  40% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bulbing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  40% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ball-container {
  .ball {
    position: fixed;
    left: 32px;
    bottom: 22px;
    z-index: 500;
    transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41); /*贝塞尔曲线*/
  }
  .inner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f33232;
    transition: all 0.4s linear;
  }
}

.float-cart {
  .fix;
  left: 20/@rem;
  bottom: 150/@rem;
  z-index: 12;
  &.bulbing {
    -webkit-animation: bulbing .3s linear .4s;
    animation: bulbing .3s linear .4s;
  }
  .cart-wrap {
    .rel;
    .size(80, 80);
    background: rgb(73, 216, 210) url(../../static/img/ico_cart.png) no-repeat center;
    -webkit-background-size: 56% auto;
    background-size: 56% auto;
    .borR(50%);
    .bsd(0, 1px, 10px, 0, #49d8d2);
    i {
      .abs;
      top: -6/@rem;
      right: -6/@rem;
      .block;
      .center;
      line-height: 20/@rem;
      .txt-normal;
      min-width: 20/@rem;
      padding: 4px;
      .fz(20);
      .cf;
      .bdiy(#f74c31);
      .borR(30px);
    }
  }
}
